{% extends 'homeAddmin/home.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block head %}
    <style>
        .search-icon {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" /></svg>');
            background-repeat: no-repeat;
            background-position: left 0.75rem center;
            background-size: 1.25rem;
        }
    </style>
{% endblock %} 

{% block title %} জনপ্রিয় পণ্যের তালিকা {% endblock %}

{% block body %} 
    <div class="min-h-screen p-4 md:p-8 mx-22 my-32 shadow-lg bg-gray-100 rounded-lg ">
        <h3 class="text-center text-4xl font-semibold mx-auto flex flex-col justify-center mt-10">জনপ্রিয় পণ্যের তালিকা</h3>

        <main class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 lg:gap-8 m-10">
            <div class="col-span-1 md:col-span-3 lg:col-span-4 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6 lg:gap-6 my-4">

             {% for prod in allpro_list %}
<div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:scale-105 mt-10 flex flex-col">
    
    <!-- Product Image -->
    {% if prod.image %}
        <img src="{{ prod.image.url }}" alt="{{ prod.name }}" class="w-full h-40 object-cover">
    {% else %}
        <img src="{% static 'images/homeadvatigeimages.png' %}" alt="{{ prod.name }}" class="w-full h-40 object-cover">
    {% endif %}

    <div class="p-4 flex flex-col flex-grow">
       
        <div class="flex items-center justify-between mb-2">
            <span class="text-xs font-semibold text-gray-500">{{ prod.catagoris }}</span>
            <span class="text-sm font-bold text-gray-900">৳{{ prod.price }}</span>
        </div>

      
        <h3 class="font-medium text-base truncate mb-2">{{ prod.name }}</h3>

      
        <p class="mb-2">মোট: {{ prod.stock }} {{ prod.unit }}</p>

       
        <p class="text-gray-600 text-sm mb-4 flex-grow">{{ prod.description|truncatechars:50 }}</p>
         
                <a href="{% url 'buyproduct' prod.id %}">
                    <button class="w-full bg-green-500 text-white py-2 rounded-md hover:bg-green-600 transition-colors duration-200 mt-auto">
                   আরো দেখুন
                    </button>
                </a> 
       
    
 




       
    </div>
</div>
{% empty %}
<p class="text-gray-500 mt-4">কোনো পণ্য পাওয়া যায়নি।</p>
{% endfor %}

            </div>
        </main>
    </div>

<script src="{% static 'js/mainjs.js' %}"></script>
{% endblock %}
