/* Default Light Theme */
.togolcolor {
  background-color:rgb(191, 207, 166); /* Tailwind gray-50 */
  color: #ffffff; /* Tailwind gray-900 */
  transition: background-color 0.3s, color 0.3s;
}
 
/* Dark Theme */
.navber{
    background-color: #4B5563;
}

/* Make all text inherit the theme */
h1, h2, h3, h4, h5, h6,
p, span, a, li, td, th, div {
  color: inherit;
}
/* Heart click animation */
/* Heart pop animation */
.heart-pop {
  animation: pop 0.3s ease forwards;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

